@import url('https://fonts.googleapis.com/css2/?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
}
:root{
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;

    /* text colors */
    --primary-font:"Poppins",sans-serif;
    --text-white:#fff;
    --text-black:#121212;
    --text-danger:#f63440;
    --text-gray:#aaa;
    --text-dark-gray:#777;
}

body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
}
.navbar-nav .nav-link{
    font-size: 2rem;
}

p{
    margin: 0;
}
.btn-danger{
    background: var(--bg-danger);
    border-color:var(--bg-danger);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight:500;
}
.btn-danger:hover{
    color: var(--text-danger);
    background: transparent;
}
#header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
}
#header .navbar-nav .nav-link{
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}
#header .navbar-nav .nav-link:hover,
#header .navbar-nav .nav-link.active{
    color: var(--text-danger);
}
#header .navbar-toggler:focus{
    box-shadow: none;
}

.home .home-banner{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 650px;
    background-position: 90% center;
}
.home .home-banner-1{
    background-image: url(./images/slide1.jpg);
}
.home .home-banner-2{
    background-image: url(./images/slide2.jpg);
}
.home .home-banner .home-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%,-50%);
}
.home .home-banner .home-banner-text h1{
    font-size: 5rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background: transparent;
}
.home .slider-icon{
    font-size: 3rem;
    font-weight: 600;
    background-color: var(--text-danger);
}


@media (max-width:1030px) {
    .home .home-banner{
        background-position: 65% center;
        min-height: 550px;
    }
    .home .home-banner .home-banner-text{
        transform: translate(-80%,-50%);
    }
}
@media (max-width:991px) {
    .home .home-banner .home-banner-text{
        transform: translate(-66%,-50%);
    }
}
@media (max-width:767px) {
    .home .home-banner{
        background-position: 50% center;
        min-height: 450px;
    }
    .home .home-banner .home-banner-text{
        text-align: center;
        width: 100%;
        transform: translate(-50%,-50%);
    }
    .home .home-banner .home-banner-text h1{
        font-size: 2rem;
    }
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }
    .home .home-banner .home-banner-text .btn-danger{
        padding: 0.5rem 1.5rem;
    }
    .home .slider-icon{
        font-size: 2rem;
    }
}
@media (max-width:330px) {
   
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }
    .home .home-banner .home-banner-text .btn-danger{
        padding: 0.5rem 1.5rem;
    }
    .home .slider-icon{
        font-size: 2rem;
    }
}